<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}

<div id='map' class='map'></div>


<div class='overlay'>
    <div class="panel-group" id="accordion">
        <div class="panel panel-info">
             <div class="panel-heading">
                <h1 class="panel-title">
                    <a class="accordian-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_address_update">Schools</a>
                </h1>
            </div>
            <div id="collapse_address_update" class="panel-collapse collapse">
                <div class="panel-body">
                    <form id="address_update_form" role="form">
                        {{ render_field(address_form.street, id='street_update') }}
                        {{ render_field(address_form.zip_code, id='zip_code_update') }}
                        {{ render_field(address_form.education_level_code,
                                        id='education_level_code_update') }}
                        {{ render_field(address_form.number_of_results, id='number_of_results_update') }}
                        <button type="submit" value="Submit"  class="btn btn-primary" id="submit_address_update">Submit</button>
                    </form>
                    <div id="address_update_error_box" class="col-lg-12 col-md-12" style="display:none">
                        <div class="alert alert-warning" role="alert">
                            <ul id="address_update_errors">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="viewed_data_info" class="circle_info" style="display:none;">
        <ul class="list-inline no_margin">
            <li><span class="glyphicon glyphicon-eye-open"></li>
            <li id="viewed_data_type"></span><strong>...</strong></li>
            <li id="viewed_data_year">...</li>
        </ul>
    </div>

    <div class="btn-group-vertical" role="group" aria-label="...">
        <button id="clear_button" type="button" class="btn btn-block btn-default" disabled="true">
            Directions
        </button>

        <div class="btn-group" role="group">
            <button id="demographics_button" type="button" class="btn btn-block btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled="true">
                Demographics
                <span class="caret"></span>
            </button>
        </div>

        <div class="btn-group" role="group">
            <button id="api_button" type="button" class="btn btn-block btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                API
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a id="base_api_year_options" href="#">Base</a></li>
                <div id="base_api_year_select" style="display:none; padding:10px">
                    <form class="form-inline">
                        <div class="input-group">
                            {{ render_field(base_api_form.year,
                                            class="form-control",
                                            label_visible=false,
                                            id='base_api_year') }}
                        </div>
                        <button id="view_base_api" class="btn btn-default view_data" type="button">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                        <span class="get_more_info">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </span>
                    </form>
                </div>
                <li><a id="growth_api_year_options" href="#">Growth</a></li>
                <div id="growth_api_year_select" style="display:none; padding:10px">
                    <form class="form-inline">
                        <div class="input-group">
                            {{ render_field(growth_api_form.year,
                                            class="form-control",
                                            label_visible=false,
                                            id='growth_api_year') }}
                        </div>
                        <button id="view_growth_api" class="btn btn-default view_data" type="button">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                        <span class="get_more_info">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </span>
                    </form>  
                </div>
            </ul>
        </div>
    </div>
</div>

<div class="corner" style="display:none;">
    <div class="btn-group-vertical" role="group" aria-label="...">
        <div class="dropup">
            <button id="corner_choice" type="button" class="btn btn-block btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span id="choice">District Average</span>
            </button>
            <ul class="dropdown-menu">
                <li><a id="view_district_avg" class="view_data" href="#">District Average</a></li>
                <li><a id="view_district_med" class="view_data" href="#">District Median</a></li>
                <li><a id="view_schools_avg" class="view_data" href="#">Displayed Schools Average</a></li>
                <li><a id="view_schools_med" class="view_data" href="#">Displayed Schools Median</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="address_modal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <form id="address_form" role="form">
            <div class="modal-body">
                <h4>Let's find some schools close to your home.</h4>
                {{ render_field(address_form.street) }}
                {{ render_field(address_form.zip_code) }}
                {{ render_field(address_form.education_level_code) }}
                <div id="address_error_box" class="col-lg-12 col-md-12" style="display:none">
                    <div class="alert alert-warning" role="alert">
                        <ul id="address_errors">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" value="Submit"  class="btn btn-primary" id="submit_address">Submit</button>
            </div>
        </form>
        </div>
    </div>
</div>

<div id="explanation_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3>Academic Performance Index (API)</h3>
                
            </div>
            <div class="modal-body">
                <p>
                    From the California Department of Education:
                </p>
                <blockquote>
                    <p>
                        The cornerstone of California's Public Schools Accountability Act of 1999; measures the academic performance and growth of schools on a variety of academic measures.
                    </p>
                    <footer>http://www.cde.ca.gov/ta/ac/ap/ <cite title="Source Title">Academic Performance Index (API) (CA Dept of Education)</cite></footer>
                </blockquote>
                <h3>Based on test results from:</h3>
                <ul>
                    <li>Standardized Testing and Reporting (STAR) Program</li>
                    <li>California High School Exit Examination (CAHSEE)</li>
                    <li>California Alternate Performance Assessment (CAPA)</li>
                </ul>
                <h3>Resources:</h3>
                <ul>
                    <li><a href="http://www.cde.ca.gov/ta/ac/ap/">Academic Performance Index (API) (CA Dept of Education)</a></li>
                    <li><a href="http://www.cde.ca.gov/ta/ac/ap/apidatafiles.asp">API Data Files - Academic Performance Index (CA Dept of Education)</a></li>
                </ul> 
            </div>
        </div>
    </div>
</div>



<script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
<link href="{{ url_for('static', filename='css/map.css') }}" rel="stylesheet">

{% endblock %}
