<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}

<div id='map' class='map'></div>


<div class='overlay'>
    <div class="panel panel-default">
        <div class="panel-heading">School Options</div>
        <div class="panel-body">
          Some choices about the schools
        </div>
    </div>

    <div class="btn-group-vertical" role="group" aria-label="...">
        <button id="clear_button" type="button" class="btn btn-block btn-default">
            Clear
        </button>
        <button id="log_button" type="button" class="btn btn-block btn-default">Log</button>

        <div class="btn-group" role="group">
            <button id="api_button" type="button" class="btn btn-block btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                API
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a id="base_api_year_options" href="#">Base</a></li>
                <div id="base_api_year_select" style="display:none; padding:10px">
                    <form class="form-inline">
                        <div class="input-group">
                            {{ render_field(base_api_form.year, class="form-control", label_visible=false, id='base_api_year') }}
                        </div>
                        <button id="view_base_api" class="btn btn-default view_data" type="button">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                    </form>
                </div>
                <li><a id="growth_api_year_options" href="#">Growth</a></li>
                <div id="growth_api_year_select" style="display:none; padding:10px">
                    <form class="form-inline">
                        <div class="input-group">
                            {{ render_field(growth_api_form.year, class="form-control", label_visible=false, id='growth_api_year') }}
                        </div>
                        <button id="view_growth_api" class="btn btn-default view_data" type="button">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                    </form>  
                </div>
            </ul>
        </div>
    </div>
</div>

<div class="corner" style="display:none;">
    <div class="panel panel-default">
        <div class="panel-body">
          District info
        </div>
    </div>
</div>

<div id="address_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <form id="address_form" role="form">
            <div class="modal-body">
                <p>
                    Let's find some schools close to your home.
                </p>
                {{ render_field(address_form.street, size='20') }}
                {{ render_field(address_form.zip_code, size='5') }}
                {{ render_field(address_form.education_level_code) }}
                <div id="address_error_box" class="col-lg-12 col-md-12" style="display:none">
                    <div class="alert alert-warning" role="alert">
                        <button type="button" class="close" data-hide="alert">&times;</button>
                        <ul id="address_errors">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" value="Submit"  class="btn btn-primary" id="submit_address">Submit</button>
            </div>
        </form>
        </div>
    </div>
</div>



<script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
<link href="{{ url_for('static', filename='css/map.css') }}" rel="stylesheet">

{% endblock %}
